.error {
    color: firebrick;
}

.invalid {
    background-color: #FF8888;
    color: #005555;
}

.one-line {
    width: 100%;
}

.drop-down {
    width: 50%;
}

.area {
    width: 100%;
    height: 500px;
}

.modal-row {
    margin: 0;
}